html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: Arial;
}

body > * {
  flex-shrink: 0;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.header {
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
  min-height: 310px;
  margin: auto;

  h1 {
    margin-bottom: 5rem;
    margin-top: 3rem;
    text-align: center;
    cursor: default;
    font-size: 56px;

    &.shake {
      animation: shake 0.5s;
    }

    @keyframes shake {
      0% { transform: translate(5px, 5px) rotate(0deg); }
      10% { transform: translate(-5px, -10px) rotate(-5deg); }
      20% { transform: translate(-15px, 0px) rotate(5deg); }
      30% { transform: translate(15px, 10px) rotate(0deg); }
      40% { transform: translate(5px, -5px) rotate(5deg); }
      50% { transform: translate(-5px, 10px) rotate(-5deg); }
      60% { transform: translate(-15px, 5px) rotate(0deg); }
      70% { transform: translate(15px, 5px) rotate(-5deg); }
      80% { transform: translate(-5px, -5px) rotate(5deg); }
      90% { transform: translate(5px, 10px) rotate(0deg); }
      100% { transform: translate(5px, -10px) rotate(-5deg); }
    }
  }

  .range-container {
    display: flex;
    flex-direction: row;

    .button-container {
      display: flex;
      flex-direction: column;

    }
  }

  .clear-container {
    min-height: 30px;
    max-height: 30px;
    margin: auto;
    .clear {
      max-width: 120px;
      margin: auto;
      background-color: black;
      color: white;
      border: none;
      cursor: pointer;
      font-size: 36px;

      &:focus {
        outline: none;
      }

      &:hover {
        margin-top: -2px;
      }

      &:active {
        margin-top: 2px;
      }
    }
  }
}

.output {
  flex-grow: 1;
  min-width: calc(100% - 8rem);
  max-width: calc(100% - 8rem);
  word-break: break-word;
  font-size: 42px;
  padding-top: 5rem;
  padding-bottom: 5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-right: 2rem;
  margin-left: 2rem;
  margin-bottom: 5rem;

  border: black 1px solid;

  &:focus {
    outline: none;

  }
}
